<app-navbar></app-navbar>
<div class="container">
    <div class="text-center mt-5">
      <h3  class="text center" >Our Vision</h3>
      <p class="para">
        Schools existed way before the rise of technology. It’s even there before our ancestors tried tinkering their way into engineering, chemistry, and physics. And as what happened in history, schools were the paradise of learning and the birthing home of education.

However, it is now more than just a place of free-thinking. Nope. Some schools provide the necessary background for one to reach the world and achieve one’s dreams. If you finished your studies at a college that rose up from the standard, you’re on your way to making the future happen. However, these schools do not start on creating their first logo. Nope. All of these start with a vision. So make a vision statement today and change the world.
      </p>
    </div>
    <div class="text-center mt-5">
      <h3 class="text center" >Our Mission</h3>
      <p class="para">
        Schools existed way before the rise of technology. It’s even there before our ancestors tried tinkering their way into engineering, chemistry, and physics. And as what happened in history, schools were the paradise of learning and the birthing home of education.

However, it is now more than just a place of free-thinking. Nope. Some schools provide the necessary background for one to reach the world and achieve one’s dreams. If you finished your studies at a college that rose up from the standard, you’re on your way to making the future happen. However, these schools do not start on creating their first logo. Nope. All of these start with a vision. So make a vision statement today and change the world.
      </p>
    </div>
</div>
